Canada Cars Sales Figures (2019-2021) Project Summary:

The Canada Cars Sales Figures project is an analysis of the Canadian automotive industry from 2019 to 2021. The objective of this project is to understand the trends and patterns in the Canadian car market, including the sales rate for various car brands, types of cars, and provinces.

The findings of this analysis can be used by car manufacturers, dealerships and policymakers (Canadaian Government) to make informed decisions about marketing, sales, and policy development in the Canadian automotive industry.

The Canadian government is also working with stakeholders, as well as federal, provincial and territorial partners, to support large-scale transformative projects across the country as the Car sales sector plays a key role in Canadaâ€™s economy.

--

Canada Government Report at which various car brands are Topping sales and Declining in sales: https://www.goodcarbadcar.net/2021-canada-vehicle-sales-figures-by-brand/

Problem Statement

Referencing the CANADA CARS SALES FIGURES (2019-2021) Csv File Data, The data indicates that there was a 12.56% decrease in sales of Cars for 2020 and It got worse in 2021 as there was a 52.62% decrease from 2019 sales.

Low sales of a car brand leads to reduced production by manufacturers.

Car dealers profits for a particular brand are affected by a decline in sales.

A decline in car brand sales affects the contribution of that brand to Canada's GDP.

High sales of certain car brands result in a shift in demand from dealers to manufacturers products.

Manufacturers increase production in response to high sales figures of certain car brands.

KPI

1.    Car Brands Sold In Canada (2019-2021)
    = print(CanadaCarSales['Model'])

2.    Most sold Car and least sold Car By (Month/Month), (Year / Year) = Highest2019 = CanadaCarSales[CanadaCarSales['Year'] ==       2019] JeepWrangler = Highest2019.nlargest(1, ['Sumofsales'])

3.    What are the top 10 Cars by sales (Month/Month), (Year / Year) TopTen2019 = CanadaCarSales[CanadaCarSales['Year'] == 2019]       JFHJKCTNSM = TopTen2019.nlargest(10, ['Sumofsales'])

4.    What is the most preferable Brand of cars sold by State? JeepWrangler = Highest2019.nlargest(1, ['Sumofsales'])

In [2]:


# To get the Decrease in Sales YOY from 2019 to 2021

import numpy as np 
# For Visualization
import pandas as pd
import seaborn as sns
# For manipulation
import matplotlib.pyplot as plt
%matplotlib inline 

CanadaCarSales = pd.read_csv('Canadasalesdata.csv')

# Decrease in car sales in Year Over Year from (2019-2021)

# 2019 Total sales
Subset_2019 = CanadaCarSales.loc[CanadaCarSales['Year'].isin([2019])]
Sum2019 = Subset_2019['Sumofsales'].sum()
Sales_2019 = pd.DataFrame({'Year': [2019], 'Sumofsales': [Sum2019]})
Sales_2019

# 2020 Total sales
Subset_2020 = CanadaCarSales.loc[CanadaCarSales['Year'].isin([2020])]
Sum2020 = Subset_2020['Sumofsales'].sum()
Sales_2020 = pd.DataFrame({'Year': [2020], 'Sumofsales': [Sum2020]})
Sales_2020

# 2021 Total sales
Subset_2021 = CanadaCarSales.loc[CanadaCarSales['Year'].isin([2021])]
Sum2021 = Subset_2021['Sumofsales'].sum()
Sales_2021 = pd.DataFrame({'Year': [2021], 'Sumofsales': [Sum2021]})
Sales_2021

# Use these variables to get Total sales for the three years
Sales_2019
Sales_2020
Sales_2021

SOS = pd.concat([Sales_2019,Sales_2020,Sales_2021]).drop_duplicates()

# Add a new column called "Total Sales" with the difference of sales in each row
SOS = SOS.assign(DecreasedSales=SOS['Sumofsales'].diff())

#Add column to have highest sales for YOY
Max_sales = lambda x: SOS['Sumofsales'].max()
SOS['Highest Sales'] =  SOS.apply(Max_sales, axis=1)

# Calculate the percentage of sales for each row
SOS['Sales Percentage'] = (SOS['Sumofsales'] / SOS['Highest Sales']) * 100

# Make the Sales Percentage Column be 2 decimal places
SOS['Sales Percentage'] = SOS['Sales Percentage'].round(2)

# Make the PercentDecreased Column be 2 decimal places
SOS = SOS.assign(PercentDecreased=(SOS['Sales Percentage'].round(2)).diff())

# Add the Percentage symbol Column to the values in the Sales Percentage column
SOS['Sales Percentage'] = SOS['Sales Percentage'].apply(lambda x: str(x) + '%')

# Add the Percentage symbol to the values in the PercentDecreased column
SOS['PercentDecreased'] = SOS['PercentDecreased'].round(2).apply(lambda x: str(x) + '%')

# Print the updated dataframe
SOS

,Year,Sumofsales,DecreasedSales,Highest Sales,Sales Percentage,PercentDecreased
0,2019,390825,NaN,390825,100.0%,nan%
0,2020,341736,-49089.0,390825,87.44%,-12.56%
0,2021,136104,-205632.0,390825,34.82%,-52.62%

In [3]:
# To get the increase in Sales YOY from 2019 to 2021 in one of the Top Ten Highest sold cars in 2021

CanadaCarSales[ CanadaCarSales["Model"].isin(['GMC Yukon']) &  CanadaCarSales['Year'].isin([2019]) |
                CanadaCarSales["Model"].isin(['GMC Yukon']) &  CanadaCarSales['Year'].isin([2020]) |
                CanadaCarSales["Model"].isin(['GMC Yukon']) &  CanadaCarSales['Year'].isin([2021])  ]


yoy_sales = CanadaCarSales[ CanadaCarSales["Model"].isin(['GMC Yukon']) & CanadaCarSales['Year'].isin([2019, 2020, 2021]) ].copy()

#created a (HighestSales) column with the highest sales from 2019 to 2021 sumofsales
yoy_sales['HighestSales'] = 3874

# Calculate the percentage of sales for each row  and Create a (Sales%) Column
yoy_sales['Sales%'] = (yoy_sales['Sumofsales'] / yoy_sales['HighestSales']) * 100

# Make the (Sales%) Column be 2 decimal places
yoy_sales['Sales%'] = yoy_sales['Sales%'].round(2)

# convert the string values in (Sales Percentage) to numeric values
yoy_sales['Sales%'] = pd.to_numeric(yoy_sales['Sales%'])

# subtract the Least Sales Percentage from all Percentage to get the Increment
yoy_sales['Increment%'] =  yoy_sales['Sales%'] - 75.50

# Add the Percentage symbol Column to the values in the Sales Percentage column
yoy_sales['Sales%'] = yoy_sales['Sales%'].apply(lambda x: str(x) + '%')

# Add the Percentage symbol to the values in the PercentDecreased column
yoy_sales['Increment%'] = yoy_sales['Increment%'].round(2).apply(lambda x: str(x) + '%')


yoy_sales

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Category,Year,HighestSales,Sales%,Increment%
156,GMC Yukon,530,530,596,749,720,749,0,0,0,0,0,0,3874,LS,2021,3874,100.0%,24.5%
163,GMC Yukon,242,314,190,124,276,289,391,348,377,396,325,453,3725,LS,2020,3874,96.15%,20.65%
170,GMC Yukon,164,188,282,294,327,247,285,298,218,230,196,196,2925,LS,2019,3874,75.5%,0.0%

In [4]:


TopTen2021  = CanadaCarSales[CanadaCarSales['Year'] == 2021]
# TOP TEN sold car Brand in 2021
TVSKALTLAG  = TopTen2021.nlargest(10, ['Sumofsales'])
TVSKALTLAG

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Category,Year
182,Toyota Highlander,1029,1328,2013,1827,1917,2289,2070,0,0,0,0,0,12473,MS,2021
183,Volkswagen Atlas,840,840,945,1358,1306,1358,0,0,0,0,0,0,6647,MS,2021
180,Subaru Outback,544,677,1134,1122,818,709,988,0,0,0,0,0,5992,MS,2021
174,Kia Sorento,485,646,899,1068,1016,1022,835,0,0,0,0,0,5971,MS,2021
68,Audi Q5,623,623,701,1268,1219,1268,0,0,0,0,0,0,5702,SLS,2021
15,Lexus RX,451,493,836,904,801,944,923,0,0,0,0,0,5352,MLS,2021
181,Toyota 4Runner,668,748,738,643,601,710,788,0,0,0,0,0,4896,MS,2021
77,Lexus NX,330,442,684,797,667,699,822,0,0,0,0,0,4441,SLS,2021
67,Audi Q3,553,553,622,843,810,843,0,0,0,0,0,0,4224,SLS,2021
156,GMC Yukon,530,530,596,749,720,749,0,0,0,0,0,0,3874,LS,2021